<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LAF -->
      <package
            uri="http://www.example.org/LAF"
            class="mdpa.laf.referencemodel.LAF.LAFPackage"
            genModel="model/LAF.genmodel"/>
   </extension>

</plugin>
